/* * { margin: 0; padding: 0; box-sizing: border-box; } */

html {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
}

img {
    width: 200px;
}

a {
    color: red;
    text-decoration: none;
}

input {
    margin-right: 40px;
}
label {
    margin-right: 8px;
}

ul {
    list-style-type: none;
    
    display: grid;
    row-gap: 20px;
    column-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

li {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 280px;
    padding: 20px;
}